@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
    background-image: url('/src/assets/images/olas.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.bg-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

/* colors */
.bg-primary {
    background-color: #25A59A;
}

.bg-boneWhite{
    background-color: #e1e1e1;
}

/* shadow */
.shadow-divider {
    box-shadow: -10px 0 15px -5px rgba(0, 0, 0, 0.9);
}

.text-primary {
    color: #25A59A;
}

.bg-yellow {
    background-color: #FFCC15;
    color: #fff;
}